[alias]
	# other helpful aliases

	s = status
	cam = commit -am
	last = cat-file commit HEAD
	co = checkout
	rc = rebase --continue
	unstage = reset HEAD
	staged = diff --cached
	squash = rebase -i HEAD^
	delete-local = branch -d
	DL = branch -D
	delete-remote = "!sh -c 'git push origin :$1' -"
	branches = "!sh -c 'git branch -a | grep -v remotes'"

	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

	# use like `git edit-unmerged; ...edit..., ...test..., get add-unmerged; get commit || rebase --continue
	edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; code `f`"
	add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"

[push]
	default = current
[credential]
	helper = osxkeychain
[user]
	name = Andrew Steele
	email = andrew565@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true	
[color]	
	diff = auto	
	status = auto	
	branch = auto	
	ui = true	
[help]	
	autocorrect = 1	
[status]	
	submodule = 1
[core]
	editor = code -w
